*.pyc
*.si4project
*CMakeCache*
.idea
bin
.vscode
*.out
*.o
*.a
*.swp
tmp.s
cmake-build-debug
tests/asm
tests/ast
tests/lib
tests/gc
tests/internal
tests/parser
tests/CMakeFiles
tests/pkg
tests/runtime
tests/a.out
tests/*.cmake
tests/Makefile
tests/tmp.s
tests/do
tests/co
tests/colang
